<div id="loginPage" class="center vh-100 w-100 flex-column">
    <div class="login shadow center flex-column">
        <h1 class="text-info mb-lg-5">ToDo</h1>
        <div class="form-group">
            <small id="emptyLoginInfoError" class="text-error d-none">Enter Your Info</small>

            <input id="loginEmail" type="email" class="form-control" placeholder="Enter Your Email"
                aria-describedby="emailHelp">
            <small id="invalideEmailError" class="text-error d-none">Invalide Email</small>
        </div>
        <div class="form-group">
            <input id="loginPassword" type="password" class="form-control" placeholder="Password">
            <small id="invalidePasswordError" class="text-error d-none">Invalide Password</small>
        </div>
        <button id="loginBtn" type="submit" class="btn btn-info px-4 my-5">Login</button>
        <a id="signupFromLoginBtn" class="signup-btn">Creat Account</a>
    </div>
</div>
<script src="./js/models/login_model.js"></script>
<script src="./js/controllers/login_controller.js"></script>
<script src="./js/views/login_view.js"></script>