<div id="todoPage">
    <nav class="d-flex flex-row-reverse pr-5 bg-info text-white overflow-hidden">
        <button id="logoutBtn" type="button" class="remove-button-styling">
            <i class="fas fa-sign-out-alt text-white"></i>
        </button>
    </nav>

    <div class="container m-md-5">
        <div class="row">
            <div class="col">
                <div class="card w-100 shadow categories">
                    <div class="card-header bg-info">
                        <h1 class="text-white">categories</h1>
                        <div class="input-group mt-3 mb-3">
                            <input type="text" class="form-control" placeholder="Enter Category title"
                                id="categoryTitleInput">
                            <div class="input-group-append">
                                <button class="btn btn-outline-info bg-light" type="button"
                                    id="addCategoryBtn">ADD</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" is>
                        <ul class="list-group" id="categoriesList">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card w-100 todos shadow-lg">
                    <div class="card-header bg-info">
                        <h1 class="text-white">ToDo's</h1>
                        <div class="input-group mt-3 mb-3">
                            <input type="text" class="form-control" id="todoTitleInput" placeholder="Enter ToDo title">
                            <div class="input-group-append">
                                <button class="btn btn-outline-info bg-light" type="button" id="addTodoBtn">ADD</button>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <small id="emptyCategoriesListError" class="text-error d-none">please
                            create new
                            category</small>
                        <ul class="list-group" id="todoList">
                        </ul>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between todos-append-chooses">
                        <button class="btn btn-light px-6 todos-append-chooses__all" id="allTodosBtn">All</button>
                        <button class="btn btn-info" id="copmletedTodosBtn">Completed</button>
                        <button class="btn btn-info" id="notCopmletedTodosBtn">Not completed</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script defer src="/src/js/models/todo_model.js"></script>
<script defer src="/src/js/controllers/todo_controller.js"></script>
<script defer src="/src/js/views/todo_view.js"></script>