body {
    background-color: #ecebeb;
}

.login {
    max-width: 31rem;
    width: 35%;
    height: 90%;
    background-color: white;
    border-radius: .25rem;
}

.login .form-group {
    width: 50%;
}

.signup-btn {
    text-decoration: none;
    border-radius: .25rem;
    color: #17a2b8 !important;
    padding: .5rem 3rem;
    transition: all .4s ease;
    cursor: pointer;
    border: 1px solid transparent;
}

.signup-btn:hover {
    background-color: #17a2b8;
    border-color: #117b8b50;
    border-radius: .25rem;
    color: white !important;
    padding: .5rem 2.5rem;
}

.signup-btn:focus,
.signup-btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.signup-btn:active {
    background-color: #17a2b8;
    border-radius: .25rem;
    color: white !important;
    padding: .5rem 2rem;
}