#signupPhone::-webkit-outer-spin-button,
#signupPhone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#signupPhone {
    -moz-appearance: textfield;
}

.signup {
    width: 34%;
    max-width: 583px;
    height: 90%;
    background-color: white;
    border-radius: .25rem;
}